*~
*.agdai
*.hi
*.hi-boot
*.o
*.o-boot
*.tix
# /stack-*.yaml.lock

/dist/
/dist-newstyle/
/.stack-work/
/src/TAGS

/Main
/Lexer.hs
/Parser.hs
/Parser.y-grm.txt
/src/Main
/src/Lexer.hs
/src/Parser.hs
/src/Parser.y-grm.txt

/hvr-.travis.yml

